/*
	Title: brief description

	Other important information
*/

/* `Section
---------------------------------------- */
.selector {
	display: block;
	text-decoration: none;
	background: red;
}

/* Describe the ruleset as a whole */
.hyphen-delimited-selectors{
	color: #f00;
	font-weight: bold;
	text-decoration: none; /* Describe a single line in the ruleset */
}
#an-id{
	color:#f00;
	font-weight:bold;
	text-decoration:none;
}